input.checkbox-size {
  height: 20px;
  width: 20px;
}

.checkbox-label {
  font-size: 14px;
  margin-left: 10px;
}

.title {
  font-size: 44px;
  margin-top: 67px;
  margin-bottom: 73px;
  font-weight: 900;
}

.checkbox-container {
  margin-top: 23px;
}
